@font-face {
    font-family: "Windsor";
    src: url(Windsor\ Regular.ttf);
}

@font-face {
    font-family: "Helvetica";
    src: url(Helvetica-Bold-Font.ttf);
}

/* { border: 1px solid white; }*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

#fondo3D {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#header{
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 0%6;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0%;
    margin: 0%;
    background-color: black;
    border-bottom: #ffffff 5px solid;
    border-top: #ffffff 5px solid;
}

#logo{
    width: 190px;
    height: 150px;
    transition: 0.4s;
}

#titulo1 {
    color: #ffffff;
    font-family: "Windsor";
    font-size: 60px;
    line-height: 0.8;
    width: 100%;
    padding: 0%;
    margin: 0;
    text-align: left;
    display: flex;
    justify-content: left;
    transition: 0.4s;
}

#totaltienda {
    z-index: 2;
    position: relative; /* Cambiado a relativo para que la posición sea relativa al body */
    padding: 0%;
    margin: 10% 0 0 0;
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

  
#store {
    font-family: 'Helvetica', system-ui;
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#c1{
    width: 600px;
    height: 400px; 
    background-color: transparent;
}
#c2{
    width: 600px;
    height: 400px; 
    background-color: transparent;
}
#c3{
    width: 600px;
    height: 400px; 
    background-color: transparent;
}
.product {
    width: 600px;
    height: 400px; 
    border-radius: 1%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    transition: transform 0.1s ease-out;
}

button { 
    cursor: pointer; 
}
